@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/graphik-trial");

@layer base {
  @font-face {
    font-family: "gilroy";
    src: url("/fonts/gilroy-semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

:root {
  background-color: #f2e6de;
  color: "#2e3482";
}

h1 {
  font-size: 48px;
}
